@import url(http://fonts.googleapis.com/css?family=Roboto:700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align:left;
    z-index: 999999;
}
#cssmenu {
  font-family: Roboto, sans-serif;
  float:right;
}
#cssmenu > ul {
  width: 180px;
  background: #ffffff;
}
#cssmenu > ul > li > a {
  padding: 12px 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
  background:#107bb5;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #949494;
  background-color:#fff;
}
#cssmenu ul li.has-sub > a::after {
  position: absolute;
  right: 15px;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 2px;

}
#cssmenu > ul > li.has-sub > a::after {
  top: 14px;
 
}
#cssmenu > ul > li.has-sub:hover > a::after,
#cssmenu > ul > li.has-sub > a:hover::after {
  background: #22222;
}
#cssmenu ul ul li.has-sub > a::after {
  top: 13px;
  background: #fffff;
}
#cssmenu ul ul li.has-sub:hover > a::after,
#cssmenu ul ul li.has-sub > a:hover::after {
  background: #dd;
}
#cssmenu ul li.has-sub > a::before {
  position: absolute;
  left: 15px;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  content: "";
  right:2px;
}
#cssmenu > ul > li.has-sub > a::before {
  top: 16px;
  border-left-color: #fffff;
  float:left;
}
#cssmenu ul ul li.has-sub > a::before {
  top: 15px;
  border-left-color: #ff;
  float:right;
}
#cssmenu ul {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cssmenu ul ul {
  position: absolute;
  top: 0;
  margin-left:-360px;
  right: 9999px;
  width: 180px;
  background: #107bb5;
  opacity: 0;
  -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
  -o-transition: opacity 0.2s ease, -o-transform 0.2s ease;
  transition: opacity .2s ease, transform .2s ease;
  -webkit-transform: rotate3d(0, 1, 0, 45deg);
  -moz-transform: rotate3d(0, 1, 0, 45deg);
  transform: rotate3d(0, 1, 0, 45deg);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  transform-origin: right center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cssmenu ul li:hover > ul {
  left: 100%;
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0);
}
#cssmenu ul ul::after {
  position: absolute;
  left: 170px;
  top: 14px;
  z-index: 5;
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-right-color: #fff;
  content: "";
}
#cssmenu ul ul a {
  padding: 12px 15px;
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #4e4e4e;
  background-color:#fff;
  
}
