nav#top-nav .collapse.navbar-collapse {
    margin-right: 0;
}
div.hover-content,
header #language-switcher {
    left: 0;
    right: auto;
}
#news-carousel a.left.carousel-control span.glyphicon {
    left: -1px;
}