nav#top-nav .collapse.navbar-collapse {
    margin-right: 0;
}
div.hover-content,
header #language-switcher {
    left: 0;
    right: auto;
}
#news-carousel a.left.carousel-control span.glyphicon {
    left: -1px;
}
header .head-logo {
    padding-top: 0;
}
body.mission .mission-header{
    background: url('../img/mission-header-ar.jpg') center no-repeat transparent;
}
body.mission .mission-header .mission-title {
    padding-left: 0;
    padding-right: 200px;
}
li.reforming-the-ministry {
    display: none;
}
header .head-logo{display:none;}
header .logo > a {display:none;}
header{
	height: 165px;
    background: url('../trash/images/rtl_header3.jpg') center no-repeat transparent;
}
#images-carousel .controls {
    left: 0 !important;
    right: auto !important;
}
#images-carousel .controls .right {
    float: right;
}
#images-carousel .controls .left{
    float: left;
}