@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: #3B93C9;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

/** UNIQUE STYLES */
.white-head {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-bottom: solid 3px #fff;
}
.black-head {
    font-size: 18px;
    color: #000;
    border-bottom: solid 3px #000;
}
img {
    max-width: 100%;
}
a.news-photo:hover > img {
    opacity: 0.8;
}
a.news-photo {
    display: block;
    overflow: hidden;
    width: 100%;
}
a.news-photo img {
    width: 100%;
}
/** END UNIQUE */

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

div#main-content{
    min-height: 200px;
    padding-bottom: 30px;
}
header {
    position: relative;
    background: url('../trash/images/3.jpg') top center no-repeat;
}
header .head-logo{
    font-size: 20px;
    padding-top: 70px;
}
header .logo > a {
    padding: 5px;
}
header #language-switcher {
    position: absolute;
    right: 0;
}
nav#top-nav {
    background: #fff;
    border: none;
    margin-bottom: 0;
}
nav#top-nav .container {
    padding: 0;
}
nav#top-nav ul.nav li a {
    padding: 10px 15px;
    background-color: #fff;
    color: #45494B;
}
nav#top-nav ul.nav li.active > a {
    background: #3B93C9;
    color: #fff;
}
nav#top-nav .collapse.navbar-collapse {
    border-bottom: solid 2px #3B93C9;
    padding: 0;
    margin-right: 30px;
}
#news-ticker {
    background-color: #3B93C9;
}
#news-ticker .title{
    font-size: 16px;
    color: #fff;
    background-color: #E63200;
    padding: 5px 20px
}
#news-ticker ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 10px;
}
#news-ticker ul li a{
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    padding: 5px 0;
    display: inline-block;
}
#news-ticker ul li .date {
    display: inline-block;
    margin-left: 20px;
    color: #080808;
    font-size: 16px;
}
#news-ticker ul li a:hover {
    color: #61D762;
    text-decoration: none;
}

footer {
    background-color: #3B93C9;
}
footer ul {
    list-style: none;
    padding-left: 0;
}
footer .col-sm-6 {
    padding: 0;
}
footer ul li a,
footer p.site-title {
    color: #fff;
    font-size: 16px;
}
#news-carousel {
    border: solid 1px #ccc;
}
#news-carousel div[class^="col-"],
#news-carousel div[class*=" col-"]{
    padding: 0;
}
#news-carousel .item {
    padding: 5px;
    color: #000;
}
#news-carousel .item {
    margin: 5px;
}
#news-carousel .item .blog1 a.news-photo {
    height: 248px;
}
#news-carousel .item .blog2 a.news-photo {
    height: 180px;
}
#news-carousel .item .blog1 {
    padding-right: 10px;
}
#news-carousel .item .blog1 h2 {
    font-size: 20px;
    color: #000;
}
#news-carousel .item .blog2 h2 {
    font-size: 18px;
    color: #000;
    height: 37px;
    overflow: hidden;
}
#news-carousel .item .blog2 .read-more{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #fff;
}
.read-more {
    color: #FF0000;
}
#news-carousel a.carousel-control {
    width: 30px;
    background: #000010;
    color: #fff;
    top: 45%;
    height: 50px;
}
#news-carousel a.carousel-control span.glyphicon {
    left: -2px;
    top: 24px;
    position: absolute;
}
#news-carousel a.left.carousel-control span.glyphicon {
    left: 14px;
}
#news-carousel a.left.carousel-control {
    left: -30px;
}
#news-carousel a.right.carousel-control {
    right: -30px;
}
div.other-news .col-md-3 {
    padding: 0;
}
div.other-news .col-md-3 h3 {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
    height: 55px;
    overflow: hidden;
}
div.other-news .col-md-3 a.news-photo {
    width: 98%;
    height: 100px;
}
div.other-news .col-md-3 .info {
    margin: 0 5px;
}
.service-row .investment a {
    position: relative;
}
.service-row .investment a:hover .hover-content {
    display: block;
}
div.hover-content {
    display: none;
    width: 500px;
    border: solid 1px #ccc;
    border-radius: 3px;
    color: #000;
    position: absolute;
    right: 0;
    bottom: -100%;
    background-color: #fff;
    padding: 15px;
}
div.hover-content .text {
    margin-top: 15px;
}
div.consular-services .service-row+.service-row {
    margin-top: 5px;
}
div.consular-services .service-row > div {
    width: 49%;
    text-align: center;
}
div.consular-services .service-row > div > a{
    position: relative;
}
div.consular-services .service-row > div span.middle-text {
    position: absolute;
    text-align: center;
    color: #000;
    top: -10px;
    left: 0;
    width: 100%;
    font-weight: bold;
}
body.blog.view a.news-photo {
    height: 150px;
}
body.blog.view .well {
    border: 1px solid #e3e3e3;
}
body.blog.view .well a h3 {
    color: #3B93C9;
    transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    margin-bottom: 15px;
    margin-top: 0;
}
body.blog.view .well a:hover {
    text-decoration: none;
}
body.blog.view .well a:hover h3 {
    color: #000;
}
body.blog.view .author-date {
    margin-top: 10px;
}