body{
background:#ffffff;
color:#696364;
font-size:12px;
margin:0px;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
padding:0px;
}
a{
text-decoration:none;
}
img{
border:0px;
}
p
{
color:#696364;
font-size:12px;
}
#container
{
	margin: 0 auto;
	width: 1005px;
	background: #fff;
}

#header
{
 background :url(../images/top_headerbk.jpg) repeat-x top;
  height:124px;
}

#header .header_left{
width:405px;
float:left;
padding-top:10px;
}
#header .header_right{
width:340px;
float:right;
padding-top:35px;
}
#header .header_right1{
margin:0px;
padding:0px;
height:30px;
}
.header_right1 ul{
margin:0px;
padding:0px;
}
#header .header_right1 li{
float:left;
list-style:none;
font-size:12px;
color:#419cce;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
padding:0px 5px 0px 5px;
}
#header .header_right1 li a{
color:#419cce;
text-decoration:none;
}
#header .header_right1 li a:hover{
color:#a40e1a;
text-decoration:none;
}
#header .header_right2{
height:21px;
width:300px;

}

#navigation
{
float: left;
width: 1005px;
margin:0px;
padding:0px;
}

#navigation .main_menu{
margin:0px;
padding:0px;
background:#fff url(../images/menu_bk.jpg) repeat-x;
height:39px;
}
#navigation .main_menu ul{
margin:0px;
padding:0px;
}
#navigation .main_menu li{
float:left;
list-style:none;
font-family:"Times New Roman", Times, serif;
font-size:16px;
line-height:39px;
font-weight:bold;
}
#navigation .main_menu li a{
color:#FFFFFF;
text-decoration:none;
padding:10px 30px 10px 31px;
}
#navigation .main_menu li a:hover{
color:#FFFFFF;
text-decoration:none;
background-image:url(../images/menuhover_bk.jpg) repeat-x;
padding:10px 30px 10px 31px;
background-color:#2DA5E6;
}

#navigation .main_menu li .dd{
color:#FFFFFF;
text-decoration:none;
background-image:url(../images/menuhover_bk.jpg) repeat-x;
padding:10px 30px 10px 31px;
background-color:#2DA5E6;
}

#navigation .main_menu li.line{
width:4px;
height:39px;
}

#content-container
{
	float: left;
	width: 1005px;
	background-image:url(../images/layout_center2.jpg); background-repeat:repeat-y;
		
}

#section-navigation
{
	float: left;
	width:240px;
	padding: 0px 0;
	margin: 0 0px;
	
}

#section-navigation .content_leftheader{
background:url(../images/lefttabheader_bk.png) no-repeat;
width:240px;
height:39px;
padding-left:10px;
line-height:40px;
text-transform:uppercase;
font-weight:bold;
color:#107bb5;

}
#section-navigation .qucikmenu ul{
margin:0px;
padding:0px;
margin:10px 10px 0px 10px;
}
#section-navigation .qucikmenu li{
list-style:none;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:12px;
height:25px;
height:35px;
border-bottom:1px dotted #CCCCCC;
}
#section-navigation .qucikmenu li a{
color:#696364;
background:url(../images/arrow.png) 0px 4px no-repeat;
padding-left:7px;
line-height:35px;
font-size:12px;
}
#section-navigation .qucikmenu li a:hover{
color:#c31222;
background:url(../images/arrow1.png) 2px 4px no-repeat;
padding-left:7px;
font-size:12px;
}
#section-navigation .view{
height:30px;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:11px;
padding-right:15px;
}
#section-navigation .view a{
color:#696364;
background:url(../SiteImages/arrow.png) 0px 13px no-repeat;
padding-left:7px;
line-height:35px;
float:right;
font-size:11px;
border:0px;
}
#section-navigation .view a:hover{
color:#c31222;
background:url(../images/arrow1.png)0px 13px no-repeat;
padding-left:10px;
float:right;
border:0px;
}

#section-navigation .quick_btn{
background:url(../images/tabbtn.png) no-repeat;
width:240px;
height:43px;
margin-left:2px;
line-height:40px;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
padding-left:38px;
margin:5px 0px 5px 0px;
}

#section-navigation .mission_btn{

margin:5px 0px 5px 0px
}

#content
{
	float: left;
	width: 460px;
	padding-left:10px;
	padding-top:5px;
	margin: 0  2px 0 4px;
	background-color:#fff;
	
}

#content .content_center h1{
color:#696364;
font-size:13px;

}

#content .photo {
      
float:left;
margin-right :5px;
margin-left :2px;
padding-left :2px;
padding-right :5px;
margin-bottom:2px;
}

#content .txt5{
color:#840a12;
font-size:16px;
font-weight:bold;
}
#content .txt3{
color:#840a12;
font-size:12px;
font-weight:bold;
}

#content .htext{
color:#840a12;
font-size:16px;
font-weight:bold;
text-transform:uppercase;

}

#content .txt2{
color:#107bb5;
font-size:11px;

}

#content .txt4{
color:#696364;
font-size:12px;
}
#content .content_gallery{
float:left;
width:438px;
height:440px;
padding:5px 4px 5px 4px;
background:url(../images/gallery_bk.png) repeat-x bottom;
border:1px solid #CCCCCC;
}
#content .gallery_thumb{
 width:438px;
 height:90px;
}
#content .gallery_thumb ul{
margin:0px;
padding:0px;
}
#content .gallery_thumb li{
list-style:none;
float:left;
}
#content .gallery_thumb li.leftarrow{
width:14px;
padding-top:50px;
padding-left:3px;
padding-right:3px;
}
#content .gallery_thumb li.thumbimg{
width:82px;
height:73px;
border:1px solid #CCCCCC;
padding:3px;
background-color:#FFFFFF;
margin:10px 3px 0px 4px;
}
#content .content_centerheader
{
background:url(../images/headertb_bk.png) repeat-x;
width:449px;
height:39px;
padding-left:14px;
line-height:30px;
text-transform:uppercase;
font-weight:bold;
color:#107bb5;
}

#aside
{
	float: left;
	width: 282px;
	margin: 0 0px 0 0;

}

#aside .content_righttheader{
background-image:url(../images/righttabheader_bk.png); background-repeat:repeat-x;
width:273px;
height:39px;
padding-left:14px;
line-height:40px;
text-transform:uppercase;
font-weight:bold;
color:#107bb5;
}

#aside .latestnew_box{
margin:14px 10px 10px 20px;
text-decoration:none;
}
#aside .latestnew_box h3{
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:12px;
color:#107bb5;
font-weight:bold;
margin:0px;
padding:0px;
padding-bottom:5px;
}
#aside .latestnew_box p{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:12px;
color:#696364;
text-align:justify;
line-height:18px;
overflow:hidden;
padding:10px 0px 5px 0px;
}
#aside .latestnew_box span{
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:11px;
color:#107bb5;
float:right;
}
#aside .latestnew_box span a{
color:#107bb5;
text-decoration:none;
}
#aside .latestnew_box span a:hover{
color:#a10e19;
text-decoration:none;
}
#aside .latestnew_img{
border:2px solid #e1e1e1;
}
#aside .Articles_box{
margin:15px 10px 5px 20px;
text-decoration:none;
}
.clear{
clear:both;
margin:0px;
padding:0px;
}
#footer
{
	clear: left;
	background:#022e5d;
	padding: 0px;
	height: 1%;
}

#footer .footer1{
margin:0px;
padding-top: 20px;
background:url(../images/footer_bk.jpg) repeat-x;
}
#footer .footer1 .footer_sub{
margin:0px;
padding:0px;
float:left;
}
#footer .footer1 .footer_sub h3{
margin:0px;
padding:0px;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:12px;
color:#107bb5;
text-transform:uppercase;
}
#footer .footer1 .footer_sub ul{
margin:0px;
padding:0px;
margin:5px;
}
#footer .footer1 .footer_sub li{
list-style:none;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:12px;
height:25px;
}
#footer .footer1 .footer_sub li a{
color:#696364;
background:url(../images/arrow.png)  0px 4px no-repeat;
padding-left:7px;
}
#footer .footer1 .footer_sub li a:hover{
color:#c31222;
background:url(../images/arrow1.png) 0px 4px no-repeat;
padding-left:7px;
font-size:12px;
}
#footer .footer2{
margin:0px;
padding:0px;
border-top:1px solid #CCCCCC;
}
#footer .footer2 p{
margin:0px;
padding:0px;
margin-top:10px;
text-align:center;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:12px;
color:#979898;
}
#footer .footer2 p a{
color:#979898;
text-decoration:none;
}
#footer.footer2 p a:hover{
color:#979898;
text-decoration:underline;
}
#footer .footer2 p.footer_txt{
margin:0px;
padding:0px;
text-align:center;
font-family:Arial, Helvetica, sans-serif, "Arial Black";
font-size:10px;
color:#979898;
}